<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="iotbs.lzj.dao.AdminMapper">
	<select id="selectAdminByUserName" parameterType="String" resultType="iotbs.lzj.bean.Admin">
		select * from admin where username=#{v}
	</select>
</mapper>